:root {
  --color-primary: #34c94b;
}

.navbar {
  background-color: var(--color-primary); /* Use the corrected variable */
  height: 74px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
